<div class="jumbotron my-2">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead text-justify">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
		incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
		exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
		dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
		mollit anim id est laborum.
	</p>
  <hr class="my-2">
  <p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
	</p>
  <a
	class="btn btn-primary btn-lg"
	[routerLink]="['/about']"
	role="button">
		Learn more About
	</a>
</div>
<hr class="my-4 justify-content-center">
<div class="row">
	<div class="col-sm-12 col-md-6 col-lg-4">
		<div class="card mx-auto" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
				<p class="card-text text-justify">
					Some quick example text to build on the card title and make up the
					bulk of the card's content.
				</p>
				<a [routerLink]="['/home']" class="card-link">Card link</a>
				<a [routerLink]="['/home']" class="card-link">Another link</a>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4">
		<div class="card mx-auto" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
				<p class="card-text text-justify">
					Some quick example text to build on the card
					title and make up the bulk of the card's content.
				</p>
				<a [routerLink]="['/home']" class="card-link">Card link</a>
				<a [routerLink]="['/home']" class="card-link">Another link</a>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-6 col-lg-4">
		<div class="card mx-auto" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
				<p class="card-text text-justify">
					Some quick example text to build on the card title and
					make up the bulk of the card's content.
				</p>
				<a [routerLink]="['/home']" class="card-link">Card link</a>
				<a [routerLink]="['/home']" class="card-link">Another link</a>
			</div>
		</div>
	</div>

</div>
<!-- <h5>{{url}}</h5>
<h5>{{video}}</h5>
<h5>{{video | securedom:url }}</h5> -->
<!-- <iframe [src]="video | securedom:url"
				width="70%" height="400px"></iframe>
<br><br> -->
